.info__wrapper   {
}
.info {
   padding: 10rem 0;
}
@media screen and (min-width: 1024px)  {
  .info {
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: left;
  }
  .info .img {
     margin-right: 5rem;
  }
}


