@font-face {
    font-family: 'Mukta Bold';
    src: url('../../fonts/Mukta-ExtraBold.eot');
    src: url('../../fonts/Mukta-ExtraBold.eot') format('embedded-opentype'),
        url('../../fonts/Mukta-ExtraBold.woff2') format('woff2'),
        url('../../fonts/Mukta-ExtraBold.woff') format('woff'),
        url('../../fonts/Mukta-ExtraBold.ttf') format('truetype'),
        url('../../fonts/Mukta-ExtraBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mukta';
    src: url('../../Mukta-Regular.eot');
    src: url('../../fonts/Mukta-Regular.svg') format('embedded-opentype'),
        url('../../fonts/Mukta-Regular.woff2') format('woff2'),
        url('../../fonts/Mukta-Regular.woff') format('woff'),
        url('../../fonts/Mukta-Regular.ttf') format('truetype'),
        url('../../fonts/Mukta-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



